/*Navigation bar buttons*/
.nav { 
	width: 250px; 
	height: 40px; 
	background: lightgreen; 
	color: black; 
	margin: 5px;
	font-size: 25px;
	border-radius: 20px;
}
/*Next button on page*/
.next { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: black; 
	margin: 5px;
	font-size: 25px;
	border-radius: 10px;
}