/*Navigation bar buttons*/
.nav { 
	width: 250px; 
	height: 40px; 
	background: lightgreen; 
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 20px;
	font-family: "Verdana", Sans-serif;
}
/*Next button on page*/
.next { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 10px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	bottom: 100px;
	left: 850px;
}

/*Back button on page*/
.back { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 10px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	bottom: 100px;
	left: 300px;
}
/*Help Button*/
#help { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 25px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 10px;
	left: 30px;
}

p {color: grey; font-family: "Verdana", Sans-serif;}

input {color: grey; font-family: "Verdana", Sans-serif;}

h2 {color: hotpink; font-family: "Verdana", Sans-serif;}

h1 {color: black;font-family: "Verdana", Sans-serif;}

form {
	font-family: "Verdana", Sans-serif;
}

table {
	font-family: "Verdana", Sans-serif;
	color: black;
	font-family: "Verdana", Sans-serif;
	text-align: left;
}


