.examplesquare {
	width: 400px;
	height: 400px;
	background: lightblue;
	position: absolute;
	top: 25%;
	left: 37%;
}
.exampleoval{
	width: 250px;
	height: 150px;
	background: black;
	border-radius: 100px / 50px;
	position: absolute;
	top: 38%;
	left: 43%;
}

.examplecircle1 {
	width: 65px;
	height: 70px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 45%;
	left: 47%;
}
.examplecircle2 {
	width: 65px;
	height: 70px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 45%;
	left: 51%;
}
.examplecircle3 {
	width: 25px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 48%;
	left: 52%;
}
.examplecircle4 {
	width: 25px;
	height: 35px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 48%;
	left: 49%;
}

.bodycircle {
	width: 160px;
	height: 200px;
	background: purple;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 40%;
}

.bodysquare {
	width: 160px;
	height: 200px;
	background: #69e56b;
	position: absolute;
	top: 40%;
	left: 40%;
 }

.circlehead {
	width: 100px;
	height: 100px;
	background: #8281e2;
	border-radius: 50%;
	position: absolute;
	top: 27%;
	left: 42%;
}

.squarehead {
	width: 100px;
	height: 100px;
	background: #f9bd3b;
	position: absolute;
	top: 27%;
	left: 42%;
}
/*Navigation bar buttons*/
.nav { 
	width: 250px; 
	height: 40px; 
	background: lightgreen; 
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 20px;
	font-family: "Verdana", Sans-serif;
}
/*Next button on page*/
.next { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 10px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	bottom: 100px;
	left: 850px;
}

/*Back button on page*/
.back { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 10px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	bottom: 100px;
	left: 300px;
}
/*Help Button*/
#help { 
	display: inline-block; 
	background: lightgreen; 
	text-align: center;
	color: darkgreen; 
	margin: 5px;
	font-size: 25px;
	border-radius: 25px;
	font-family: "Verdana", Sans-serif;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 10px;
	left: 30px;
}

p {color: grey; font-family: "Verdana", Sans-serif;}

input {color: grey; font-family: "Verdana", Sans-serif;}

h2 {color: hotpink; font-family: "Verdana", Sans-serif;}

h1 {color: black;font-family: "Verdana", Sans-serif;}

form {
	font-family: "Verdana", Sans-serif;
}

table {
	font-family: "Verdana", Sans-serif;
	color: black;
	font-family: "Verdana", Sans-serif;
	text-align: left;
}

#right_arrow {
	position:absolute;
	left:930px;
	bottom: 350;
}

#left_arrow {
	position:absolute;
	left: 300px;
	bottom: 350;
}
